.DS_Store
*.swp
*.swo
*~
__pycache__/
__init__.py*
__init__.py
__init__.pyc
create_database_mysql.sql
report_01.sql
report_02.sql
report_03.sql
report_04.sql
report_05.sql
report_06_01.sql
report_06_02.sql
eer_draft.drawio
