{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">
  <h1 class="mt-4">Monthly Sales Report!</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Year Month</th>
      <th scope="col">Number Of Vehicles</th>
      <th scope="col">Sales Revenue</th>
      <th scope="col">Net Income</th>
    </tr>
  </thead>
  <tbody>
	{% for item in data %}
	<tr>
	    <td>{{item[0]}}</td>
	    <td>{{item[1]}}</td>
	    <td>{{item[2]}}</td>
	    <td>{{item[3]}}</td>
	</tr>
	{% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}