{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">
  <h1 class="mt-4">Seller History Report!</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name of Seller</th>
      <th class="text-center" scope="col">Vehicles Sold</th>
      <th class="text-center" scope="col">Avg Purchase Price</th>
      <th class="text-center" scope="col">Avg Number of Repairs</th>
    </tr>
  </thead>
  <tbody id="tby1">
	{% for item in data %}
    {% if item[3] >= 5 %}
      <tr class="bg-danger">
          <td><span class="text-white">{{item[0]}}</span></td>
          <td class="text-center"><span class="text-white">{{item[1]}}</span></td>
          <td class="text-center"><span class="text-white">{{ "$ {:,.2f}".format(item[2]) }}</span></td>
          
          <td class="text-center"><span class="text-white">{{item[3]}}</span></td>
      </tr> 
    {% endif %}
    {% if item[3] < 5 %}
      <tr>
          <td>{{item[0]}}</td>
          <td class="text-center">{{item[1]}}</td>
          <td class="text-center">{{ "$ {:,.2f}".format(item[2]) }}</td>
          <td class="text-center">{{item[3]}}</td>
      </tr>
    {% endif %}
	{% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
