{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">
  <h1 class="mt-4">Monthly Sales Report Drilldown!</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User First Name</th>
      <th scope="col">User Last Name</th>
      <th scope="col">Number Of Vehicles</th>
      <th scope="col">Total Sales</th>
    </tr>
    {% for item in data %}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
    </tr>
    {% endfor %}
  </thead>
  <tbody>
  </tbody>
  </table>
</div>
{% endblock %}
