{% extends "base.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">
  <h1 class="mt-4">Burdell's Ramblin' Wrecks</h1>
  <p>Welcome {{ session.username }}!</p>
  <p>TEST: {{ session }}!</p>
  <p>Number of cars available for purchase: <b>{{ count_vehicles_available }}</b></p>
  <p>
    {% if not session.authenticated %}
    <form action="/login" method="post">
      <input type="text" placeholder="Username" name="username" value="{{
        request.form.username }}">
       <input type="password" placeholder="Password" name="password" value="{{
        request.form.password }}">
      <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% endif %}
    {% if session.authenticated %}
    <form action="/logout" method="post">
      <input class="btn btn-default" type="submit" value="Logout">
    </form>
    {% endif %}
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form action="/" method="POST">
      <div class="form-group">
        <label for="vehicle_type">Vehicle Type</label>
        <input type="text" class="form-control" id="vehicle_type" aria-describedby="emailHelp" placeholder="vehicle_type">
      </div>
      <div class="form-group">
        <label for="manufacturer_name">Manufacturer Name</label>
        <input type="text" class="form-control" id="manufacturer_name" placeholder="manufacturer_name">
      </div>
      <div class="form-group">
        <label for="color">Color</label> #need list of colors
        <input type="text" class="form-control" id="color" placeholder="color">
      </div>
      <div class="form-group">
        <label for="model_year">Model Year</label>#need model years here
        <input type="text" class="form-control" id="model_year" placeholder="model_year">
      </div>
      <div class="form-group">
        <label for="keyword">Keyword</label>
        <input type="text" class="form-control" id="keyword" placeholder="keyword">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
