{% extends "base.html" %}

{% block content %}
<!-- Page Content -->
<div class="jumbotron jumbotron-fluid" style="padding-top: 10px; padding-bottom: 10px;">
  <div class="container">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">
      Number of cars available for purchase: <b><span class="badge badge-dark">{{ count_vehicles_available }}</span></b>
    </p>
    {% if session.authenticated %}
    <small><i>authenticated searches</i></small>
    <h3>Search by VIN</h3>
    {% if session.role == "All Roles"%} 
    {% endif %}
    {% if session.role == "Manager"%} 
    {% endif %}
    {% if session.role == "Clerk"%} 
    {% endif %}
    {% if session.role == "Sales Person"%} 
    {% endif %}
     
    <!--More options appear on Search Page-->
    <!--All authenticated Users see Search by VIN option-->
    <!--if user.role == 'Inventory Clerk' OR 'Owner':-->
    <!--  add Vehicle option appears-->
    <!--  add Repair option appears-->
    <!--if user.role == 'Manager' OR 'Owner':-->
    <!--  Reports link appears on page-->
     
    {% endif %}
  </div>
</div>
<div class="container-fluid">
  <div class="container">
  <h2>Search Vehicle Inventory</h2> 
  <form action="/search" method="post">
    <div class="form-group">
      <label for="vehicle_type">Vehicle Type</label>
      <select class="form-control" id="vehicle_type" name="vehicle_type">
        <option value='%' selected>All Vehicle Types</option>
        <option disabled>_________</option>
        {% for item in vehicle_types %}
        <option value={{item[0]}}>{{item[0]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="manufacturer">Manufacturer</label>
      <select class="form-control" id="manufacturer" name="manufacturer">
        <option value='%' selected>All Manufacturers</option>
        <option disabled>_________</option>
        {% for item in manufacturers %}
        <option value={{item[0]}}>{{item[0]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="model_year">Model Year</label>
      <select class="form-control" id="model_year" name="model_year">
        <option value='%' selected>All Model Years</option>
        <option disabled>_________</option>
        {% for item in modelyears %}
        <option value={{item[0]}}>{{item}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="color">Color</label>
      <select class="form-control" id="color" name="color">
        <option value='%' selected>All Colors</option>
        <option disabled>_________</option>
        {% for item in colors %}
        <option value={{item[0]}}>{{item}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="keyword">Keyword Search</label>
      <input type="text" class="form-control" id="Keyword" placeholder="keyword search" name="keyword">
    </div>
    <div class="form-group">
      <input class="btn btn-warning" type="submit" value="Search">
    </div>
  </form>
  </div>
   
  <!-- Display Search Results --> 
  {% if session.search_result|length > 0 %}
  <div class="container-fluid">
    <h2>Search returned {{session.search_result|length}} results</h2> 
    <form action="/clear_search" method="GET">
        <input class="btn btn-link" type="submit" value="Clear Search Results">
    </form> 
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">VIN</th>
        <th scope="col">Vehicle Type</th>
        <th scope="col">Model Year</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Model</th>
        <th scope="col">Color</th>
        <th scope="col">Mileage</th>
        <th scope="col">Sales Price</th>
        <th scope="col">Vehicle Condition</th>
        <th scope="col">Vehicle Description</th>
      </tr>
    </thead>
    <tbody>
      {% for item in session.search_result %}
      <tr>
        <td><a href="/vin={{item[0]}}" class="btn btn-light active" role="button" aria-pressed="true">{{item[0]}}</a></td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>${{item[7]}}</td>
        <td>{{item[8]}}</td>
        <td>{{item[9]}}</td>
        <td>{{item[10]}}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
  {% endif %}
  {% if session.search_result|length == 0 %}
    {% if session.search_attempt %}
    <div class="container">
      <h2>Sorry, looks like we don’t have that in stock!</h2> 
    </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
