{% extends "base.html" %}

{% block content %}

<div class="container">
    <p>{{ session }} </p>
    <p>{{ session.seller }} </p>
    <p>{{ session.previous_page }} </p>
    <p>Welcome {{ session.username }}!</p>
  <p>TEST: {{ session }}!</p>
<div class="card card-body">
    <ul class="list-group">
        {% for error in errors %}
          <li class="list-group-item list-group-item-danger">{{error}}</li>
        {% endfor %}
    </ul>
    
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">Customer Information</h5>
          {% if customer_type %}
            <p class="card-text">Type: {{ customer_type }}</p>
          {% endif %}

          {% if customer_name %}
            <p class="card-text">Name: {{ customer_name }}</p>
          {% endif %}          
          <a class="btn btn-primary" href="{{ '/searchcustomer' }}" >Search customer</a>
          <a class="btn btn-primary" href="{{ url_for('addindividual', previous_page='purchase') }}" >Add individual</a>
          <a class="btn btn-primary" href="{{ url_for('addbusiness', previous_page='purchase') }}" >Add business</a>

        </div>
      </div>
    
    <form action="/purchasevehicle" method="POST">
      <div class="form-group">
        <label for="vin">VIN</label>
        <input type="text" class="form-control" id="vin" aria-describedby="emailHelp" placeholder="Enter VIN" name="vin">
        
      </div>

      <div class="form-group">
          <label for="manufacturer">Select list:</label>
          <select class="form-control" id="manufacturer_name" name="manufacturer_name">
          {% for manufacturer_name in manufacturer_names %}
              <option value="{{ manufacturer_name }}">{{ manufacturer_name }}</option>
          {% endfor %}
          </select>
      </div>

      <div class="form-group">
          <label for="vehicle_type">Select list:</label>
          <select class="form-control" id="vehicle_type" name="vehicle_type">
          {% for vehicle_type in vehicle_types %}
              <option value="{{ vehicle_type }}">{{ vehicle_type }}</option>
          {% endfor %}
          </select>
      </div>

      <div class="form-group">
          <label for="model_year">Year</label>
          <input type="text" class="form-control" id="model_year" aria-describedby="emailHelp" placeholder="Enter year" name="model_year">
      </div>

      <div class="form-group">
          <label for="model_name">Model</label>
          <input type="text" class="form-control" id="model_name" aria-describedby="emailHelp" placeholder="Enter model" name="model_name">
      </div>

      <div class="form-group">
          <label for="mileage">Mileage</label>
          <input type="text" class="form-control" id="mileage" aria-describedby="emailHelp" placeholder="Enter mileage" name="mileage">
      </div>

      <div class="form-group">
          <label for="vehicle_condition">Select list:</label>
          <select class="form-control" id="vehicle_condition" name="vehicle_condition">
          {% for vehicle_condition in vehicle_conditions %}
              <option value="{{ vehicle_condition }}">{{ vehicle_condition }}</option>
          {% endfor %}
          </select>
      </div>

      <div class="form-group">
          <label for="vehicle_description">Description</label>
          <input type="text" class="form-control" id="vehicle_description" aria-describedby="emailHelp" placeholder="Enter description" name="vehicle_description">
      </div>

      <div class="form-group">
          <label for="kbb_value">Purchase price</label>
          <input type="text" class="form-control" id="kbb_value" aria-describedby="emailHelp" placeholder="Purchase price" name="kbb_value">
      </div>

    <div class="form-group">
        <label for="colors">Mutiple select list (hold shift to select more than one):</label>
        <select multiple class="form-control" id="colors" name="colors">
          {% for color in colors %}
            <option value="{{ color }}">{{ color }}</option>
          {% endfor %}
        </select>
      </div>
      

      

      <button type="submit" class="btn btn-primary">Purchase Vehicle</button>
      </form>
</div>
</div>
{% endblock %}