{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<div class="container">
    
    <div class="card">
            <div class="card-header text-center">
              Customer information
            </div>
            <div class="card-body">
      
                <div class="form-row">
                    <div class="form-group col-md-1"></div>  
                  <div class="form-group col-md-3">
                        <a class="btn btn-primary btn-block" href="{{ '/searchcustomer' }}" >Search customer</a>
                    </div>
                    <div class="form-group col-md-1 text-center align-self-center"><span class="badge badge-light">OR</span></div>
                    <div class="form-group col-md-3">
                        <a class="btn btn-primary btn-block" href="{{ url_for('addindividual', previous_page='sell') }}">Add individual</a>
                    </div>
                    <div class="form-group col-md-3">
                        <a class="btn btn-primary btn-block" href="{{ url_for('addbusiness', previous_page='sell') }}">Add business</a>
                    </div>
                </div>
                
                {% if customer_type %}
                <div class="form-group col-12">
                    <hr>
                </div>
                <p class="card-text">Type: {{ customer_type }}</p>
              {% endif %}
              {% if customer_name %}
                <p class="card-text">Name: {{ customer_name }}</p>
              {% endif %}
              </div>
      
          </div>
<br>
        <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">VIN</th>
                        <td>{{ vehicle_data.vin }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Manufacturer</th>
                        <td>{{ vehicle_data.manufacturer_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Vehicle type</th>
                        <td>{{ vehicle_data.vehicle_type }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Model</th>
                        <td>{{ vehicle_data.model_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">year</th>
                        <td>{{ vehicle_data.model_year }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Mileage</th>
                        <td>{{ vehicle_data.mileage }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Sales Price</th>
                        <td>{{ vehicle_data.sales_price }}</td>
                    </tr>
                    <tr>
                        <th scope="row">VIN</th>
                        <td>{{ vehicle_data.vin }}</td>
                    </tr>      
                </tbody>
              </table>
        
              <a class="btn btn-primary" href="{{ url_for('sellvehiclesubmit') }}" >Sell Vehicle</a>
        </form>
</div>
{% endblock %}
